body{
    margin:0;
}

.form-area{
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0.5rem;
    background-color: #efefef;
}

#btn-bg{
    color: #fff;
    border-radius: 30px;
    background-color: #f7921a;
    color: white;
    padding: 10px 20px;
    position: absolute;
    text-transform: uppercase;
}

#btn-bg:hover{
    background-color: #efefef;
    color: black;
    border: 1px solid lightgray;
}


@media only screen and (max-width: 1824px) and (min-width: 500px) {
    .box {
        padding-top: 60px !important;
        padding-right: 30px;
        padding-bottom: 85px;
        padding-left: 30px;
        margin-top: 120px;
    }

    .bg-inf {
        color: #fff;
        background-color: #f7921a;
        padding-bottom: 50px;
        padding-left: 40px;
        margin-top: 90px;
        padding-top: 120px;
        height: 300px;
        width: 85%;
        
    }
    footer{
        margin-top: 5%;
    }
}

@media only screen and (min-width: 1500px)  {
    .box {
        padding-top: 60px !important;
        padding-right: 30px;
        padding-bottom: 85px;
        padding-left: 300px;
        
    }

    .bg-inf {
    color: #fff;
    display: block;
    position: absolute;
    background-color: #f7921a;
    height: 54%;
    width: 22%;
    margin-top: -520px;
    margin-left: 120px;
    }
    footer{
        margin-top: 90px;
    }

}


