.container1{
    width: 100%;
    height: auto;
}
.container2{
    width: 100%;
    margin: auto;
    height: auto;
    margin-top: -200px;
}
.bg-cl-r{
    height: 100%;
    /* background-color: tomato; */
    padding-left: 50px;
}
.bg-cl-c{
    padding-left: 12px;
    height: 100%;
    /* background-color: rgb(231, 211, 207); */
}
.bg-cl-l{
    height: 100%;
    /* background-color: rgb(60, 102, 102); */
}

.form-timkiem .form-control{
    border: 1px solid #e5ecef;
    border-radius: 30px;
    padding: 10px 20px;
    /* margin-bottom: 20px; */
    font-weight: 400;
    width: 83%;
    outline: 0;
}

.sidebar-content .widget {
    float: left;
    margin-bottom: 40px;
    width: 100%;
}
.widget-title{
    margin-top: 70px;

}
.sidebar-content .widget_nav_menu > ul, .widget_recent_entries > ul, .widget_pages > ul, .widget_meta > ul, .widget_product_categories > ul, .widget_archive > ul, .widget_categories > ul {
    list-style: outside none none;
    padding-left: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
#title{
    color: #000;
    text-decoration: none;
}
#title:hover{
    color: #0056b3;
}
.row-img{
    /* background-color:chartreuse; */
    margin-top: 10px;
    
}
.pic-area .picture{
    width: 100%;
    height: 240px;
}
.ellipsis2{
    
    padding-left: 10px;
}
.details-container .details-item{
    padding-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color:rgb(54, 49, 49);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
element.style {
    margin: 10px 45px;
    border: none;
    background: transparent;
    z-index: 999998;
    transform: translateZ(0px);
    position: fixed;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-property: opacity, top, bottom;
    opacity: 1;
    max-height: 551px;
    overflow: visible;
    bottom: 0px;
    width: 171px;
    margin-left: unset;
    margin-bottom: unset;
}
.center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #f7921a;
    color: white;
    border: 1px solid #f7921a;
  }
  .row3{
      height: auto;
      width: 100%;
      margin-top: 50px;
  }

.left{
    margin-left: 5%;
}
#btn-bg{
    color: #fff;
    border-radius: 10px;
    background-color: #f7921a;
    color: white;
    padding: 10px 20px;

    margin-top:10px;
    position: absolute;
    right: 0px;
    min-width: 32%;
    font-size: 1em;
    margin-right:20px;
}

#btn-bg:hover{
    background-color: #efefef;
    color: black;
    border: 1px solid lightgray;
}
.row-link{
    /* background-color: #0056b3; */
    width: auto;
    height: 20px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 40px;
    margin-right: 0px;
    margin-left: 0px;
}
.breadcrumb {
    background: transparent;
    margin-bottom: 0px;
    padding-right: 0;
    color: #999999 ;
}
.breadcrumb li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}
a {
    background-color: transparent;
    text-decoration: none;

}
.breadcrumb li a{
    color: #999999 ;
}
.label-tk{
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
    margin: 0 0 12px;
    position: relative;
    padding: 0 0 12px;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
}

.productname-style{
    padding-left: 10px;
    background: #fff;
}
.row-number-partic {
    padding-left: 10px;
    margin-bottom: 2px;
    margin-top: 5px;
}
.row-number-partic1{
    padding-left: 10px;
    margin-bottom: 2px;
}
.row-number-partic p{
    margin-bottom: 0;
}
