html {
    height: 100%;
    font-family: Roboto;
  }
body {
    min-height: 100%;
    margin:0;
    background-color: #fafafa;
  }
.tabar{
    background-color: 	#242438;
    height: 40px;
    width: 100%;
    margin: auto;
}
.container1{
    width: 100%;
    margin: auto;
    height: 500px;
    

}
.minitabar{
    margin: auto;
    width: 80%;
    display: flex;
    
    height: 100%;
}
.socialnetwork{
   
    display: flex;
    width: 100%;
    
}
.margin{
    margin: auto;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 25px;
    margin-top: 10px;
}

.login{
    margin: auto;
}
.header {
    background: white;
    height: 120px;
    width: 80%;
    margin: auto;
    
    
}
.iconcolor{
    color: #f7921a;
}
.textcolor{
    color: white;
   
}
.hover:hover{
    color: white;
     text-decoration: none;
}
.hovericon:hover{
    color: yellow;
}
.logo{    
    height: 120px;;
    margin-left: 3px;
 
    position: relative;
}
.minisearch{
    height: 100%;
    background-color: 	#DDDDDD;
    width: 200px;
    border-top-left-radius:  20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid black;
}
.search{
    height: 40px;
    display: flex;
    margin-top: 35px;
    
}
.input{
    width: 380px;
    height: 100%;
    border: none;
    outline:none;
    background-color: #DDDDDD;
    border-top-right-radius: 5px;
}
.list{
    background-color: 	#DDDDDD;
    border: none;
    outline:none;
    margin-top: 7px;
    padding-left: 17px;
    border-top-left-radius:  20px;
    border-bottom-left-radius: 20px;
    
}
.iconsearch{
    background: #484848;
    border: 2px solid #484848;
    line-height: 39px;
    padding: 0;
    border-radius: 30px;
    padding-right: 11px;
    padding-left: 11px;
    height: 42px;
    position: absolute;
    right: 2px;  
   
}
.iconsearch:hover{
    background-color: #f7921a;
    
}
.form-control:focus{
    outline: 0 !important;
}
.menubar{
    background-color: #f7921a;
    height: 68px;
    padding-top: 12px;
    padding-left: 12px;
    font-weight: bold;
    display: flex;
    position: relative;
}
.dropbtn {
  
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  outline: 0 !important;
  
}
.dropbtn:hover, .dropbtn:focus {
  background-color: black;
  color: white;
}

.dropdown {
  position: relative;
  float: left;
  
  
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
    color: black;
    text-decoration: none ;
    background-color: #ddd
}
.show {display:block;}
.linknav:hover{
    background-color: black;
    height: 44px;
    color: white;
}
.linknav{
    height: 44px;
    color: white;
}
.link1{
  padding-bottom: 4px;
  
}
.contactous{
    position: absolute;
    height: 100%;
    right: 20px;
    top: 0;
}
.email{
    display: flex;
    padding-top: 8px;
    line-height: 8px;
}
.phone{
    margin-top: 0;
    display: flex;
}
.iconemail{
    font-size: 20px;
    color: black;
    margin-right: 10px;
}
.textemail{
    color: white;
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
footer{
     position: relative;
     width: 100%;
     height: auto;
     padding: 50px 100px;
     background: #242438;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
footer .container{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     flex-direction: row;
 }

/*Thiết Lập Cho Thành Phần Nội Dung Giới Thiệu*/
 footer .container .noi-dung{
     margin-right: 30px;
 }
footer  .container .noi-dung.about{
     width:40%;
 }
 footer .container .noi-dung.about h2{
     position: relative;
     color: #fff;
     font-weight: 500;
     margin-bottom: 15px;
 }
 footer .container .noi-dung.about h2:before{
     content: '';
     position: absolute;
     bottom: -5px;
     left: 0;
     width: 50px;
     height: 2px;
     background:#f7921a;
 }
footer .container .noi-dung.about p{
     color: #999;
 }
 /*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
 .social-icon{
     margin-top: 20px;
     display: flex;
 }
.social-icon li {
     list-style: none;
 }
 .social-icon li a{
     display: inline-block;
     width: 40px;
     height: 40px;
     background: #222;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-right: 10px;
     text-decoration: none;
     border-radius: 4px;
 }
.social-icon li a:hover{
     background:#f7921a;
 }
.social-icon li a .fa{
     color: #fff;
     font-size: 20px;
 }
.links h2{
     position: relative;
     color: #fff;
     font-weight: 500;
     margin-bottom: 15px;
 }

.links h2{
     position: relative;
     color: #fff;
     font-weight: 500;
     margin-bottom: 15px;
 }
.links h2::before{
     content: '';
     position: absolute;
     bottom: -5px;
     left: 0;
     width: 50px;
     height: 2px;
     background: #f7921a;
 }
.links{
    position: relative;
    width: 25%;
 }
 .links ul li{
     list-style: none;
 }
 .links ul li a{
     color: #999;
     text-decoration: none;
     margin-bottom: 10px;
     display: inline-block;
 }
.links ul li a:hover{
     color: #fff;
 }

.contact h2{
     position: relative;
     color: #fff;
     font-weight: 500;
     margin-bottom: 15px;
 }
.contact h2::before{
     content: '';
     position: absolute;
     bottom: -5px;
     left: 0;
     width: 50px;
     height: 2px;
     background: #f7921a;
 }
.contact{
     width: calc(35% - 60px);
     margin-right: 0 !important;
 }
.contact .info{
     position: relative;
 }
 .contact .info li{
     display: flex;
     margin-bottom: 16px;
 }
 .contact .info li span:nth-child(1) {
     color: #fff;
     font-size: 20px;
     margin-right: 10px;
 }
.contact .info li span{
     color: #999;
 }
.contact .info li a{
     color: #999;
     text-decoration: none;
 }
 .btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin-top:16px;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary {
    background: #222;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 24px;
}
.btn--primary:hover {
    background: #f7921a;
}
.btn--primary:active {
    background: #f7921a;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.form__field {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}
@media  (max-width: 768px){
    footer{
        padding: 40px;
             }
    footer .container{
        flex-direction: column;
    }
    footer .container .noi-dung{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container, .noi-dung.about, .links, .contact{
        width: 100%;
    }
}

.ml-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important;
  }

  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn:hover {background-color: black; }

  .dropbtn1{
    padding: .5rem 1rem;
    font-size: 16px;
    border: none;
    background-color: #f7921a;
    cursor: pointer;
    font-weight: bold;
    outline: 0 !important;
    color: white;
}