body{
    margin:0;
    /* font-size: 20px; */
    background-color: lightgray;
    /* font-family: 'Ubuntu', sans-serif;; */
}
.bg{
    background-color: #efefef;
}
.form-area{
    width: auto;
    height: auto;
    margin: 0 auto;
    /* border: tan 1px solid;
    border-radius: 5px; */
    padding: 0.5rem;
    background-color: white;
}

#btn{
    color: #fff;
    line-height: 1;
    border-radius: 30px;
    background-color: #f7921a;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}

#btn:hover{
    background-color: #efefef;
    color: black;
    border: 1px solid lightgray;
}


@media only screen and (max-width: 1824px) and (min-width: 500px) {
    .box {
        padding-top: 60px !important;
        padding-right: 30px;
        padding-bottom: 85px;
        padding-left: 30px;
        margin-top: -200px;
    }

    .bg-inf {
        background-color: #f7921a;
        padding-bottom: 50px;
        padding-left: 40px;
        margin-top: 90px;
        padding-top: 120px;
        
    }
}

@media only screen and (min-width: 1500px)  {
    .box {
        padding-top: 60px !important;
        padding-right: 30px;
        padding-bottom: 85px;
        padding-left: 160px;
        
    }

    .bg-inf {
    display: block;
    position: absolute;
    background-color: #f7921a;
    height: 400px;
    width: 270px;
    margin-top: -495px;
    margin-left: 100px;
    }
    footer{
        margin-top: 90px;
    }

}


